#General use .gitignore for Minecraft modding.

#Folders
/.gradle/*
/.idea/*
/asm/*
/bin/*
/build/*
/eclipse/*
/libs/*
/out/*
/run/*
/docs/*

#File Extensions
*.classpath
*.db
*.iml
*.ipr
*.iws
*.launch
*.project
*.psd
*.zip

#Specific files
.floo
.flooignore
